.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    iframe,
    object,
    embed { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.center {
    margin: 0 auto;
}

.icon > .icon_svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.talk {
    flex: 1 1 30%!important;
    list-style: none;
    &_image {
        width: 100%;
        min-height: 200px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
    }
}