---
layout: default
---
<h2>{{ page.name }}</h2>
<div class="card-deck-wrapper">
	<ul class="card-deck">
	    {% for talk in page.talks %}
	      <li class="talk card">
	        <div class="card-img-top">
	        	<div class='embed-container'>
	        		<iframe src='http://www.youtube.com/embed/{{ talk.videoId }}' frameborder='0' allowfullscreen></iframe>
	        	</div>
	        </div>
	        <div class="card-block">
	        	<h4 class="card-title">{{ talk.name }}</h4>
	        	{% if talk.blurb %}<p class="card-text">{{ talk.blurb }}</p>{% endif %}
	        	<p class="card-text"><small class="text-muted">{{ talk.speaker }} speaking in {{ talk.year }}</small></p>
	        </div>
	      </li>
	    {% endfor %}
	</ul>
</div>